/* Add your custom theme overrides here */

#searchform {
    position: relative;
    top: 10px;
}

#right-nav > li {
    float: right !important;
}

#pt-anonuserpage, #pt-anontalk {
    display: none;
}

#p-logo a {
    background-color: transparent !important;
}

.oo-ui-window-content {
    font-size: 0.9em;
}

#tabs-default-lighter a.dropdown-toggle {
    font-weight: bold !important;
}

.oo-ui-processDialog-location {
    height: 2.875em !important;
}

div.ve-ui-toolbar {
    box-sizing: initial !important;
    -webkit-box-sizing: initial !important;
}
div.ve-ui-toolbar div, div.ve-ui-toolbar span, div.ve-ui-toolbar a {
    box-sizing: inherit !important;
    -webkit-box-sizing: inherit !important;
}

footer {
    padding-top: 100px;
}

.wikitable > tbody > tr:nth-child(odd) > td,
.wikitable > tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}

.wikitable > tbody > tr:nth-child(odd) > td,
.wikitable > tbody > tr:nth-child(odd) > th {
    background-color: #236b9b;
    color: #ffffff;
}

.wikitable > tbody > tr:nth-child(odd) > td,
.wikitable > tbody > tr:nth-child(odd) > th {
    background-color: #4da0d7;
    color: #ffffff;
}

.wikitable > tbody > tr:nth-child(odd) > td,
.wikitable > tbody > tr:nth-child(odd) > th {
    background-color: #2c88c5;
    color: #ffffff;
}

.wikitable > tbody > tr:nth-child(odd) > td,
.wikitable > tbody > tr:nth-child(odd) > th {
    background-color: #1a4e71;
    color: #ffffff;
}

.wikitable > tbody > tr:nth-child(odd) > td,
.wikitable > tbody > tr:nth-child(odd) > th {
    background-color: #103248;
    color: #ffffff;
}

.wikitable > tbody > tr:nth-child(odd) > td,
.wikitable > tbody > tr:nth-child(odd) > th {
    background-color: rgba(189, 189, 189, 0.51);
    color: #ffffff;
}

.wikitable > thead > tr > td.active,
.wikitable > tbody > tr > td.active,
.wikitable > tfoot > tr > td.active,
.wikitable > thead > tr > th.active,
.wikitable > tbody > tr > th.active,
.wikitable > tfoot > tr > th.active,
.wikitable > thead > tr.active > td,
.wikitable > tbody > tr.active > td,
.wikitable > tfoot > tr.active > td,
.wikitable > thead > tr.active > th,
.wikitable > tbody > tr.active > th,
.wikitable > tfoot > tr.active > th {
    background-color: #f5f5f5;
}

.wikitable > thead > tr > td.active,
.wikitable > tbody > tr > td.active,
.wikitable > tfoot > tr > td.active,
.wikitable > thead > tr > th.active,
.wikitable > tbody > tr > th.active,
.wikitable > tfoot > tr > th.active,
.wikitable > thead > tr.active > td,
.wikitable > tbody > tr.active > td,
.wikitable > tfoot > tr.active > td,
.wikitable > thead > tr.active > th,
.wikitable > tbody > tr.active > th,
.wikitable > tfoot > tr.active > th {
    color: #697060;
    background-color: #f5f5f5 !important;
}

.wikitable > thead > tr > th {
    font-weight: 400;
    font-size: 18px;
}

.wikitable {
    width: 100%;
    margin-bottom: 20px;
}
.wikitable > thead > tr > th,
.wikitable > tbody > tr > th,
.wikitable > tfoot > tr > th,
.wikitable > thead > tr > td,
.wikitable > tbody > tr > td,
.wikitable > tfoot > tr > td {
    padding: 8px;
    line-height: 1.25;
    vertical-align: top;
    border-top: 1px solid #697060;
}
.wikitable > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #697060;
}
.wikitable > caption + thead > tr:first-child > th,
.wikitable > colgroup + thead > tr:first-child > th,
.wikitable > thead:first-child > tr:first-child > th,
.wikitable > caption + thead > tr:first-child > td,
.wikitable > colgroup + thead > tr:first-child > td,
.wikitable > thead:first-child > tr:first-child > td {
    border-top: 0;
}
.wikitable > tbody + tbody {
    border-top: 2px solid #697060;
}
.wikitable .wikitable {
    background-color: #f7f7f7;
}