/* Add your custom theme overrides here */

#searchform {
    position: relative;
    top: 10px;
}

#right-nav > li {
    float: right !important;
}

#pt-anonuserpage, #pt-anontalk {
    display: none;
}

#p-logo a {
    background-color: transparent !important;
}

.oo-ui-window-content {
    font-size: 0.9em;
}

#tabs-default-lighter a.dropdown-toggle {
    font-weight: bold !important;
}

.oo-ui-processDialog-location {
    height: 2.875em !important;
}

div.ve-ui-toolbar {
    box-sizing: initial !important;
    -webkit-box-sizing: initial !important;
}
div.ve-ui-toolbar div, div.ve-ui-toolbar span, div.ve-ui-toolbar a {
    box-sizing: inherit !important;
    -webkit-box-sizing: inherit !important;
}

footer {
    padding-top: 100px;
}