/* Add your custom theme overrides here */

#searchform {
    position: relative;
    top: 10px;
}

#right-nav > li {
    float: right !important;
}

#pt-anonuserpage, #pt-anontalk {
    display: none;
}

#p-logo a {
    background-color: transparent !important;
}

.oo-ui-window-content {
    font-size: 1.4em;
}

#tabs-default-lighter a.dropdown-toggle {
    font-weight: bold !important;
}